.page-header__block {
  background-image: url(../images/image/header.png);
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 160px;
  margin-bottom: 20px;
}